Repository yu-devu/devu, pull requests merged in 2022-07, with the labels that each got.

#191 test: Test TokenService
  backend/src/test/java/com/devu/backend/config/auth/token/TokenServiceTest.java
Labels: Back End, test

#193 refactor: 코드 리팩터링 및 테스트코드를 위한 함수 추가
  backend/.gitignore
  backend/src/main/java/com/devu/backend/config/auth/token/JwtAuthenticationFilter.java
  backend/src/main/java/com/devu/backend/config/auth/token/TokenService.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/devu/backend/config/auth/UserDetailsServiceImplTest.java
  backend/src/test/java/com/devu/backend/config/auth/token/TokenServiceTest.java
Labels: test, refactor

#197 test: Post 수정, 삭제 테스트 및 Spring Rest Docs 적용
  backend/BOOT-INF/classes/static/docs/api.html
  backend/build.gradle
  backend/src/docs/asciidoc/api.adoc
  backend/src/main/java/com/devu/backend/service/PostService.java
  backend/src/main/resources/static/docs/api.html
  backend/src/test/java/com/devu/backend/controller/post/PostControllerTest.java
  backend/src/test/java/com/devu/backend/service/PostServiceTest.java
Labels: test

#198 refactor:S3 Uploader, fix:EC2MetadataUtils Exception
  backend/src/main/java/com/devu/backend/BackendApplication.java
  backend/src/main/java/com/devu/backend/config/s3/S3Uploader.java
  backend/src/main/java/com/devu/backend/controller/user/UserController.java
  backend/src/main/java/com/devu/backend/service/PostService.java
  backend/src/main/java/com/devu/backend/service/UserService.java
  backend/src/test/java/com/devu/backend/api/comment/CommentApiControllerTest.java
  backend/src/test/java/com/devu/backend/config/s3/S3UploaderTest.java
  backend/src/test/java/com/devu/backend/controller/user/UserControllerTest.java
  backend/src/test/java/com/devu/backend/service/CommentServiceTest.java
  backend/src/test/java/com/devu/backend/service/UserServiceTest.java
Labels: Back End
